html {
    height: 100%;
}
body {
    min-height: 100%;
    font-family: 'Poppins', sans-serif;
  }
  .wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100vh;
  }
.site-title {
    font-size: 50px;
    letter-spacing: 15px;
    margin: 0px;
    text-align: center;
  }

  nav ul {
    margin: 0px;
  }
  nav ul li {
    padding: 0 10px 10px 0px;
  }
  nav ul a {
    font-weight: 700;
  }
  
  .list-inline {
    list-style: none;
    display: block;
}
  .list-inline li {
    display: inline-block;
  }